.sidenav-wrapper {
  display: flex;
}

.sidenav {
  height: 100%;
  width:25%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  background: rgb(171, 170, 170);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 350px;
}

.row {
  display: flex;
  box-sizing: border-box;
  margin-left: 26%;
  position: relative;
  top: 15vh;
  justify-content: center;
  overflow-x: hidden;
  flex-wrap:wrap;
  flex-direction:row;
  gap:10vh;
  padding-bottom: 6%;
}

.row img {
  width: 100%;
}
.row p {
  margin-bottom: -2%;
}

.slider{
  width: 90%;
  margin: 6% 0;
  color: grey;
  margin-left: 4%;
}

.listing-page {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow-y: auto;
}
.listing-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.map {
  top: 50px;
  height: 66vh;
  margin-left: 29%;
  display: flex;
  align-items: center;
  width: 68%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
}

.slider {
  position: relative;
  justify-content: center;
}
.link {
  color: black;
}
