.login-page {
  width: 100%;
  margin-top: 4%;
}

.login-page p {
  font-size: 18px;
  font-style: italic;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding: 6%;
  border-radius: 2vh;
  align-items: center;
  color-scheme: light;
  background-color: #213547;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
  width: 85%;
}

#login-form input {
  margin-bottom: 6%;
  padding: 4%;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 10vh;
  width: 100%;
}

#login-form :last-child {
  margin-bottom: 0;
}

.login-forms button {
  margin-top: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
}

#user-list th,
tbody {
  color: white;
}
