.registration-page {
  width: 100%;
  margin-top: 80px;
}

.registration-page p {
  font-size: 18px;
  font-style: italic;
}

.registration-forms,
.login-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.student-registration-form,
.landlord-registration-form,
.admin-registration-form,
.login-form,
.landlord-login-form,
.admin-login-form {
  display: flex;
  flex-direction: column;
}

.registration-forms button {
  margin-top: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
}

.registration-forms form {
  /* border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px; */
}
/* style={{ color: "#646cff" }} */
#registration-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  color-scheme: light;
  background-color: #213547;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
  width: 300px;
}

#registration-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 18px;
  width: 290px;
}

#registration-form :last-child {
  margin-bottom: 0;
}
