.registration-page {
  width: 100%;
  margin-top: 4%;
}

.registration-page p {
  font-size: 18px;
  font-style: italic;
}

.registration-forms,
.login-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.student-registration-form,
.landlord-registration-form,
.admin-registration-form,
.login-form,
.landlord-login-form,
.admin-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:35%;
}

.registration-forms button {
  margin-bottom: 3%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
}

#registration-form {
  display: flex;
  flex-direction: column;
  padding: 6%;
  border-radius: 2vh;
  align-items: center;
  color-scheme: light;
  background-color: #213547;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width:85%;
}

#registration-form input {
  margin-bottom: 6%;
  padding: 4%;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 10vh;
  width: 100%;
}

#registration-form :last-child {
  margin-bottom: 0;
}
